.card {
  background-color: #282828;
  color: #f3f4f6;
  padding: 2rem;
  border-radius: 1rem;
  width: 350px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  color: #facc15;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text {
  flex-grow: 1;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.name {
  color: #f97316;
  font-weight: bold;
  font-size: 0.95rem;
}

.position {
  font-size: 0.85rem;
  color: #d1d5db;
}
