.pageWrapper {
  background-color: #000;
  min-height: 100vh;
  padding: 2rem;
}

.blogImage {
  max-width: 100% !important;
  display: block;
  margin: 0 auto;
}

.blogContent {
  padding: 1rem;
}

.blogTitle {
  font-size: 1.5rem;
  color: #f07232;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.blogTeaser {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.blogDescription {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.blogDate {
  display: block;
  margin-bottom: 0.7rem;
  color: #aaa;
}

.readMoreBtn {
  background: transparent;
  color: #fff;
  border: 1px solid #f07232;
  border-radius: 1px;
  padding: 0.9rem 4.2rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
}
